@tailwind base;
@tailwind components;
@tailwind utilities;



@media only screen and (max-width: 1024px) {
    nav ul {
        position: absolute;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background-color: black;
        gap: 0;
        transition: 1s;
        transform: translateY(-100vh);
    }

    nav ul li {
        padding: 20px;

    }

    nav .ul-btn {
        visibility: visible;
        opacity: 1;
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    nav .responsive_nav {
        transform: none;

    }

    nav .ul-close-btn {
        position: absolute;
        top: 0.5rem;
        right: 1.7rem;
    }
}


/* box  */
@media (max-width: 640px) {
.content-box {
    width: 100%;
}

.contact-heading{
    padding-top: 70px;
}

.contacts .contacts-para{
    width: 100%;


}


}


/* footer  */

@media (max-width: 640px) {
.footer-section {
    display: flex;
    flex-direction: column-reverse;
}

.footer-left{
    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    text-align: start;
}

.footer-left .footer-heading{
margin-bottom: -10px;
}


.social-section{
    width: 90%;
    margin-bottom: -30px;
}


}